.hero {
  max-height: 300px;
  max-width: 300px;
  object-fit: contain;
}

.carousel__hero-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 320px;
  height: 300px;
}

.carousel-smaller {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 320px;
  height: 100px;

  .thumbnail {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;

    cursor: pointer;
    border: 2px solid #333;
    object-fit: scale-down;
  }
}