$font-path-merriweather: '../fonts/merriweather' !default;


@font-face {
  font-family: 'Roboto';
  // font-style: black;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), url('../fonts/roboto/Roboto-Regular.ttf') format('.truetype');
}
