#modal {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  button, a,
  .details button {
    background-color: #ad343e;
    padding: 5px 35px;
    color: white;
    font-size: 18px;
    border: #333 1px solid;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
  
  a {
    display: inline-block;
    margin-right: 15px;
    text-decoration: none;
  }
  
  &:empty {
    display: none;
  }
  
  div {
    background-color: white;
    max-width: 500px;
    margin: 10px;
    padding: 5px;
    text-align: center;
    border-radius: 30px;
  }

  .remove {
    margin-top: 5px;
    background: transparent;
    border: 0;
    color: #333;
    text-decoration: underline;
  }

  .clear {
    font-size: 1.25rem;
    font-weight: 500;
    margin-top: 5px;
    background: transparent;
    border: 0;
    color: #222;
    text-decoration: underline;
  }
  
  .buttons button {
    display: inline-block;
    margin-right: 15px;
  }
}
