@font-face {
  font-family: 'Roboto';
  // font-style: black;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), url('../fonts/roboto/Roboto-Regular.ttf') format('.truetype');
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0;

  background-color: white;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;

  a {
    font-family: 'Roboto';
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: #333;
  }
}