.phone {
  margin-top: 100px;
  font-family: 'RobotoMono';
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .el {
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: start;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid gray;
    text-decoration: none;
  }

  .title {
    font-size: 14px;
  }
  
  .link {
    text-align: center  ;
    font-family: 'Montserrat';
    font-weight: 500;
  }

  .price {
    color: tomato;
  }

  button {
    border : 1px;
    border-radius: 3px;
    min-width: 150px;
    display: flex;
    padding: 6px 20px;
    justify-content: space-between;
    align-items: center;
    img {
      width: 17px;
      height: 17px
    }
    &:hover {
      filter: brightness(90%)
    }
  }
}
    