.phones {
  margin-top: 50px;
  font-family:  sans-serif;
  .list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
  }
  
  .el {
    width: 300px;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    // background-color: ;
  }

  article {
   width: 180px;
  }
  
  img {
    height: 100px;
    max-width: 110px;
    object-fit: contain;
  }

  .title {
    font-size: 14px;
  }
  
  .link {
    text-align: center;
  }

  .price {
    color: tomato;
  }
}
